.details {
  font-size: 4vw;
  margin-top: 5vw;

  & > p {
    margin: 1vw 0;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 5vw;
      margin-right: 2vw;
    }
  }
}


// Web
@media only screen and (min-device-width: 500px) {
  .details {
    font-size: 1.5vw;
    margin-top: 2.5vw;
  
    & > p {
      margin: 0.5vw 0;
  
      span {
        font-size: 2.5vw;
        margin-right: 1vw;
      }
    }
  }
}