img {
  margin: 0;
  padding: 0;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}

// Mobile
@media only screen and (max-device-width: 500px) {
  img.whiteimages {
    width: 7vw;
  }
}

// Mobile - Web
@media only screen and (min-device-width: 500px) and (max-device-width: 900px) {
  img {
    &.whiteimages {
      width: 3vw;
      margin-top: 0.5vw;

      &:first-child {
        margin-right: 0.2vw;
      }
    }

    &.homeimages {
      width: 4.5vw;
      // margin-top: 1vw;
    }
  }
}

// Web
@media only screen and (min-device-width: 900px) {
  img {
    &.whiteimages {
      width: 2.5vw;
      margin-top: 0.5vw;

      &:first-child {
        margin-right: 0.2vw;
      }
    }

    &.homeimages {
      width: 3.5vw;
    }
  }
}
