<div id="socialmedia">
  <a
    href="https://github.com/jbohigues/portfolio"
    target="_blank"
    matTooltip="Ir a github"
  >
    <img
      src="assets/images/socialMedia/github{{ svggithub }}.svg"
      alt="github"
      [ngClass]="[whiteImages ? 'whiteimages' : '', homeImages ? 'homeimages' : '']"
    />
  </a>
  <a
    href="https://www.linkedin.com/in/juan-bohigues-b74b4423a/"
    target="_blank"
    matTooltip="Ir a linkedin"
  >
    <img
      src="assets/images/socialMedia/linkedin{{ svglinkedin }}.svg"
      alt="linkedin"
      [ngClass]="[whiteImages ? 'whiteimages' : '', homeImages ? 'homeimages' : '']"
    />
  </a>
</div>
