<nav id="nav" class="normal notactive">
  <div class="navContent">
    <ul>
      <li>
        <span
          id="homelink"
          [ngClass]="{ linkActive: homeInView }"
          (click)="scrollIntoPage('home')"
          >Inicio</span
        >
      </li>
      <li>
        <span
          id="divProjectslink"
          [ngClass]="{ linkActive: projectsInView }"
          (click)="scrollIntoPage('divProjects')"
          >Proyectos</span
        >
      </li>
      <li>
        <span
          id="divHabilitieslink"
          [ngClass]="{ linkActive: habilitiesInView }"
          (click)="scrollIntoPage('divHabilities')"
          >Habilidades</span
        >
      </li>
      <li>
        <span
          id="divTecnologieslink"
          [ngClass]="{ linkActive: tecnologiesInView }"
          (click)="scrollIntoPage('divTecnologies')"
          >Tecnologías</span
        >
      </li>
      <li>
        <span
          id="aboutSectionlink"
          [ngClass]="{ linkActive: aboutInView }"
          (click)="scrollIntoPage('aboutSection')"
          >Sobre mí</span
        >
      </li>
      <li>
        <span
          id="formContactlink"
          [ngClass]="{ linkActive: contactInView }"
          (click)="scrollIntoPage('formContact')"
          >Contáctame</span
        >
      </li>
    </ul>
    <!-- <img src="/assets/images/logo.webp" alt="logo" /> -->
  </div>
</nav>
