.toolbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 12vw;

  img {
    width: 10vw;
  }

  .iconMenu {
    color: white;
    font-size: 8vw;
    width: 8vw;
    height: fit-content;
  }
}
