.hiddenNav {
  display: none;
}

// Mobile
@media only screen and (max-device-width: 500px) {
  nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw 5vw;
    width: 50vw;
    border-radius: 0 2vw 2vw 0;
    background-color: var(--black);
  
    &.normal {
      opacity: 0;
      z-index: -1;
    }
  
    &.active {
      opacity: 1;
      z-index: 3;
      animation: fadein 0.2s ease-in, appear 0.3s ease-in;
    }
  
    &.notactive {
      animation: desappear 0.3s ease-out, desappearZIndex 0.3s ease-out;
    }
  
    #separatordiv {
      display: flex;
      align-items: center;
      flex-direction: column;
  
      img {
        color: white;
      }
    }
  
    .navContent {
      color: var(--white);
      font-size: 5vw;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 12vw 0;
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          margin: 4vw 0;
  
          &:hover {
            color: var(--green);
            cursor: pointer;
          }
        }
      }
      img {
        width: 20vw;
      }
    }
  }
  
  .linkActive {
    color: var(--yellow);
  }
  
  #divbuttoncv {
    margin-bottom: 3vw;
    font-size: 4vw;
  }
}

// Web
@media only screen and (min-device-width: 500px) {
  
  nav {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: row;
    // padding: 3vw 5vw;
    // width: 50%;
    // border-radius: 0 2vw 2vw 0;
    // background-color: var(--red);
  
    // &.normal {
    //   opacity: 1;
    //   z-index: -1;
    // }
  
    // &.active {
    //   opacity: 1;
    //   z-index: 2;
    //   animation: fadein 0.2s ease-in, appear 0.3s ease-in;
    // }
  
    // &.notactive {
    //   animation: desappear 0.3s ease-out, desappearZIndex 0.3s ease-out;
    // }
  
    #separatordiv {
      // display: flex;
      // align-items: center;
      // flex-direction: row;
  
      img {
        color: white;
      }
    }
  
    .navContent {
      color: var(--white);
      font-size: 1vw;
      display: flex;
      align-items: center;
      flex-direction: row;
      // margin: 1vw 0;
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          // margin: 4vw 0;
  
          &:hover {
            color: var(--green);
            cursor: pointer;
          }
        }
      }
      img {
        width: 2vw;
      }
    }
  }
  
  // .linkActive {
  //   color: var(--yellow);
  // }
  
  #divbuttoncv, 
  #socialmedia {
    display: none;
  }
}

// Animations
@keyframes fadein {
  from {
    opacity: 0;
    z-index: 0;
  }
  to {
    z-index: 2;
    opacity: 1;
  }
}

@keyframes appear {
  from {
    width: 0;
  }
}

@keyframes desappear {
  to {
    width: 0;
  }
}

@keyframes desappearZIndex {
  to {
    z-index: 0;
  }
}
