<nav id="nav" class="nav normal notactive" [ngClass]="hiddenNav ? 'hiddenNav' : ''">
  <div id="separatordiv">
    <div class="navContent">
      <ul>
        <li>
          <span id="homelink" class="home" (click)="scrollIntoPage('home')"
            >Inicio</span
          >
        </li>
        <li>
          <span
            id="divProjectslink"
            class="projects"
            (click)="scrollIntoPage('divProjects')"
            >Proyectos</span
          >
        </li>
        <li>
          <span
            id="divHabilitieslink"
            class="habilities"
            (click)="scrollIntoPage('divHabilities')"
            >Habilidades</span
          >
        </li>
        <li>
          <span
            id="divTecnologieslink"
            class="tecnologies"
            (click)="scrollIntoPage('divTecnologies')"
            >Tecnologías</span
          >
        </li>
        <li>
          <span
            id="aboutSectionlink"
            class="about"
            (click)="scrollIntoPage('aboutSection')"
            >Sobre mí</span
          >
        </li>
        <li>
          <span
            id="formContactlink"
            class="contact"
            (click)="scrollIntoPage('formContact')"
            >Contáctame</span
          >
        </li>
      </ul>
    </div>
    <div id="divbuttoncv">
      <app-buttoncv></app-buttoncv>
    </div>
    <app-socialmedia [whiteImages]="true"></app-socialmedia>
  </div>
</nav>
