











                                        HAY QUE ARREGLAR EL FOOTER Y EL FORM EN MOBIL !!!
























<hr>
<footer>
  <div id="separatorfooter">
    <div id="firstfooter">
      <h1>Contacto</h1>
      <p><span class="material-icons"> phone </span>637332194</p>
      <p><span class="material-icons"> mail </span>jbohigues.depweb@gmail.com</p>
    </div>
    <div id="secondfooter">
      <h1>Enlaces</h1>
      <div id="divsocialmedia">
        <app-socialmedia [whiteImages]="true"></app-socialmedia>
      </div>
      <div id="divbuttoncv">
        <app-buttoncv></app-buttoncv>
      </div>
    </div>
  </div>
  <p>2023 · Juan Bohigues · Front-end Developer</p>
</footer>
