hr {
  border: 1px solid var(--yellow);
  width: 70vw;
}

p {
  text-align: center;
  font-size: 3.5vw;

  &#final {
    padding: 5vw 0;
    font-size: 3vw;
  }
}

footer {
  margin: 0 auto;
  color: var(--white);

  #separatorfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3vw;
    gap: 3vw;
  }

  h1 {
    color: var(--yellow);
    margin-bottom: 1vw;
    font-size: 5vw;
  }

  #firstfooter {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-width: 60vw;

    p {
      margin: 0.5vw 0;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        margin-right: 1vw;
      }
    }
  }

  #secondfooter {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    min-width: 60vw;
    margin-bottom: 5vw;

    #separatorsecondfooter {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 3vw;
    }
  }

  #divbuttoncv {
    font-size: 3vw;
  }

  #divsocialmedia {
    margin-top: 0.6vw;
  }
}

// Móvil y tablet vertical
@media screen and (min-width: 481px) and (max-width: 767.5px) {
  p {
    font-size: 2.5vw;

    &#final {
      font-size: 2.5vw;
    }
  }

  footer {
    h1 {
      font-size: 3.5vw;
    }

    #secondfooter {
      margin-bottom: 0;
    }

    #divbuttoncv {
      font-size: 2vw;
    }

    #divsocialmedia {
      margin-top: 0;
    }
  }
}

// Móvil y tablet horizontal
@media screen and (min-width: 767.6px) {
  footer {
    #separatorfooter {
      flex-direction: row;
      align-items: baseline;
      margin-bottom: 3vw;
      gap: 15vw;
    }

    #firstfooter {
      min-width: 0;
      margin: 0;
    }

    p {
      font-size: 1.75vw;
      &#final {
        font-size: 1.5vw;
        padding: 3vw 0;
      }
    }

    h1 {
      font-size: 2.5vw;
    }

    #secondfooter {
      justify-content: center;
      flex-direction: column;
      min-width: 0;
      margin: 0;

      h1 {
        margin-bottom: 1vw;
      }

      #separatorsecondfooter {
        flex-direction: column;
        align-items: flex-start;
        gap: 1vw;
      }
    }

    #divbuttoncv {
      font-size: 1.2vw;
      margin: 0;
    }

    #divsocialmedia {
      margin: 0;
    }
  }
}

// Escritorio and laptops
@media screen and (min-width: 1024px) {
  p#final {
    font-size: 1.5vw !important;
    padding-top: 5vw !important;
    padding-bottom: 3vw !important;
  }
}
