footer{
  display: flex;
  justify-content: center;
  flex-direction: column;

  #separatordiv {
    display: flex;
    align-items: center;
    flex-direction: column;

    img{
      width: 20vw;
    }
    .navContent {
      color: var(--grey);
      font-size: 5vw;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          margin: 4vw 0;
  
          &:hover {
            color: var(--yellow);
            cursor: pointer;
          }
        }
      }
    }

    #divbuttoncv {
      font-size: 4vw;
    }

    #divsocialmedia{
      margin-top: 5vw;
      margin-bottom: 10vw;
    }
  }
}
