#buttonToTop {
  position: fixed;
  bottom: 5.5vw;
  right: 1.5vw;
  padding: 0;
  margin: 0;
  background-color: var(--black);
  color: var(--yellow);
  border: 1px solid var(--yellow);
  border-radius: 50%;
  transition: all 0.3s;

  &:hover {
    background-color: var(--yellow);
    color: var(--black);
    border: 1px solid var(--black);
    cursor: pointer;
    transform: scale(1.2);
  }

  mat-icon {
    font-size: 1.5rem;
    padding: 1vw;
    margin: 0;
    width: fit-content;
    height: fit-content;
  }
}

// Web
@media only screen and (min-device-width: 500px) {
  #buttonToTop {
    right: 5vw;
  }
}
