main {
  overflow: hidden;
  margin: 0 2rem;
  margin-top: 10vh;

  section {
    margin-bottom: 30vh;
  }
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      animation: fadein 2s ease-in;
      width: 50vw;
    }
  }
}

#divBack {
  display: none;
  &.active {
    display: block;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0.5;
  }
}

// Móvil y tablet horizontal
@media screen and (min-width: 767.6px) {
  article {
    padding-top: 5vw !important;
    flex-direction: row !important;
    align-items: normal !important;

    img {
      width: 20vw !important;
    }
  }
}

// Escritorio and laptops
@media screen and (min-width: 1024px) {
  article {
    padding-top: 3vw !important;
  }
}
