main {
  overflow: hidden;
  margin: 0 2rem;
  margin-top: 10vh;

  section {
    margin-bottom: 30vh;
  }
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      animation: fadein 2s ease-in;
      width: 50vw;
    }
  }
}

#divBack {
  display: none;
  &.active {
    display: block;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0.5;
  }
}

// Mobile
@media only screen and (max-device-width: 500px) {
  #divBack.active {
    display: block;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0.5;
  }
}

// Align CV & SocialMedia
@media only screen and (min-device-width: 500px) {
  article {
    padding-top: 4vw !important;
    flex-direction: row !important;
    align-items: normal !important;

    img {
      width: 20vw !important;
    }
  }
}
// Web
@media only screen and (min-device-width: 900px) {
  article {
    padding-top: 4vw !important;

    img {
      width: 20vw !important;
    }
  }
}
