main {
  overflow: hidden;
  margin-top: 10vh;

  section {
    margin-bottom: 30vh;
  }
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      animation: fadein 4s ease-in;
      width: 50vw;
    }
  }
}

#divBack {
  display: none;
  &.active {
    display: block;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.5;
  }
}
