<app-header></app-header>

<main>
  <div id="divBack" (click)="toggleMenu()"></div>
  <nav id="nav" class="normal notactive">
    <div class="navContent">
      <ul>
        <li><a>Inicio</a></li>
        <li><a>Sobre mi</a></li>
        <li><a>Habilidades</a></li>
        <li><a>Herramientas</a></li>
        <li><a>Proyectos</a></li>
        <li><a>Contáctame</a></li>
      </ul>
      <img src="/assets/images/logo.webp" alt="logo" />
    </div>
  </nav>
  <section>
    <article>
      <app-welcome></app-welcome>
      <img src="/assets/images/emoji.webp" alt="Bienvenidos" />
    </article>
  </section>
  <section>
    <article>
      <app-principal-about></app-principal-about>
    </article>
  </section>
  <section>
    <article>
      <app-principal-habilities></app-principal-habilities>
    </article>
  </section>
</main>
