<app-header></app-header>

<main>
  <div id="divBack" (click)="toggleMenu()"></div>
  <app-nav [hiddenNav]="hiddenWeb.isweb && hiddenMobile.hidden"></app-nav>
  <section id="home">
    <article>
      <app-welcome></app-welcome>
      <img src="/assets/images/emoji.webp" alt="Bienvenidos" />
    </article>
  </section>
  <section id="projects">
    <article>
      <app-principal-projects></app-principal-projects>
    </article>
  </section>
  <section id="habilities">
    <article>
      <app-principal-habilities></app-principal-habilities>
    </article>
  </section>
  <section id="tecnologies">
    <article>
      <app-principal-tecnologies></app-principal-tecnologies>
    </article>
  </section>
  <section id="about">
    <article>
      <app-principal-about></app-principal-about>
    </article>
  </section>
  <section id="contact">
    <article>
      <app-principal-contact></app-principal-contact>
    </article>
  </section>
  <app-button-to-top></app-button-to-top>
</main>

<app-footer></app-footer>
