<div id="home">
  <p class="first">Hola👋</p>
  <p class="second">Soy <span class="name">Juan Bohigues</span>,</p>
  <p class="third"><span class="job">Front-end Developer</span></p>
  <div id="homedetails">
    <app-buttoncv [isHome]="true"></app-buttoncv>
    <a
      href="https://github.com/jbohigues/portfolio"
      target="_blank"
      matTooltip="Ir a github"
    >
      <img
        src="assets/images/socialMedia/github{{ svggithub }}.svg"
        alt="github"
        [ngClass]="isMenu ? 'ismenu' : ''"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/juan-bohigues-b74b4423a/"
      target="_blank"
      matTooltip="Ir a linkedin"
    >
      <img
        src="assets/images/socialMedia/linkedin{{ svglinkedin }}.svg"
        alt="linkedin"
        [ngClass]="isMenu ? 'ismenu' : ''"
      />
    </a>
  </div>
</div>
