// Mobile
#home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 8vw auto 4vw auto;
  width: 70vw;
}
p {
  font-size: 8vw;
  color: var(--white);
  display: block;
  font-family: fantasy, Roboto monospace;
  white-space: nowrap;
  border-right: 4px solid;
  overflow: hidden;
  padding: 0;
  margin: 0;
  opacity: 0;
  
  &.first {
    width: 6ch;
    animation: typing 1s steps(20) forwards, blink 0.5s infinite step-end alternate, fadeout 1s 1.5s forwards; // time delay
  }

  &.second {
    width: 15ch;
    animation: typing 1.5s steps(25) 2s forwards, blink 0.5s infinite step-end alternate, fadeout 1.5s 3.2s forwards;
  }

  &.third {
    width: 16ch;
    margin-bottom: 2vw;
    animation: typing 1.5s steps(28) 3.5s forwards, blink 0.5s infinite step-end alternate;
  }

  & .name {
    color: var(--red);
  }
  & .job {
    color: var(--green);
  }
}

#homedetails{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  flex-direction: row;

  img{
    width: 7vw;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
    
    &:hover {
      transition: all 0.3s;
      transform: scale(1.2);
    }
  }
}

// Web
@media only screen and (min-device-width: 500px) {
  #home {
    width: 45vw !important;
  }

  p {
    font-size: 4vw !important;
    border-right: 6px solid !important;

    &.first {
      width: 6ch;
      animation: typing 1s steps(20) forwards, blink 0.5s infinite step-end alternate, fadeout 1s 1.5s forwards; // time delay
    }
  
    &.second {
      width: 15ch;
      animation: typing 1.5s steps(25) 2s forwards, blink 0.5s infinite step-end alternate, fadeout 1.5s 3.2s forwards;
    }
  
    &.third {
      width: 16ch;
      margin-bottom: 2vw;
      animation: typing 1.5s steps(28) 3.5s forwards, blink 0.5s infinite step-end alternate;
    }
  }

  #homedetails {
    align-items: center;

    img {
      width: 10vw !important;
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to{
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes fadeout {
  100% {
    border-color: transparent;
  }
}
