header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 10vw;
  max-width: 80vw;
  border-radius: 0 0 2vw 2vw;
}

.navScroll {
  background-color: var(--yellow);
  color: var(--black);
  z-index: 3;
}
