#divHabilities {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);

  h1 {
    font-size: 7vw;
    margin-bottom: 5vw;
  }
}

#habilities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;

  .imageCard {
    display: grid;
    place-items: center;
  }

  img {
    max-width: 80px;
    width: 15vw;
    margin: 0;
  }
}

mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  box-shadow: none !important;
  color: var(--white);
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}

mat-card-content {
  font-size: 3.5vw;
}

// Mobile
@media only screen and (max-device-width: 500px) {
  .imageCard {
    min-height: 20vw;
  }
}

// Web
@media only screen and (min-device-width: 500px) {
  #divHabilities {
    h1 {
      font-size: 3vw;
    }
  }
  
  #habilities {
    grid-template-columns: repeat(6, 1fr);
    gap: 2vw;

    img {
      max-width: none;
      width: 5vw;
      margin: 0;
    }
  }
  
  mat-card-content {
    display: none;
  }
}
