div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);

  h1 {
    font-size: 7vw;
    margin-bottom: 5vw;
  }
}

#habilities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw;

  img {
    width: 10vw;
    margin: 0;
    margin-bottom: 1vw;
  }
}

mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  border: 2px var(--yellow) solid;
  color: var(--white);
}
