div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);

  h1 {
    font-size: 7vw;
    margin-bottom: 5vw;
  }
}

#habilities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;

  .imageCard {
    width: 15vw;
    height: 20vw;
  }

  img {
    width: 15vw;
    margin: 0;
    margin-bottom: 1vw;
  }
  .jQuery {
    // margin-left: 20vw;
    img {
      // width: 50vw;
    }
  }
}

mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  box-shadow: none !important;
  color: var(--white);
  width: 15vw;
  height: 25vw;
}
