div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 60vw;
}

p {
  word-wrap: break-word;
  font-size: 4vw;
  margin: 1vw 0;

  span {
    color: var(--yellow);
  }

  &:first-child {
    margin-top: 5vw;
  }

  &:last-child {
    margin-bottom: 5vw;
  }
}

// Móvil y tablet vertical
@media only screen and (min-device-width: 500px) and (max-device-width: 767.5px) {
  div {
    padding: 1vw 2vw;
  }

  p {
    font-size: 3vw;
    margin: 0.5vw 0;

    &:first-child {
      margin-top: 2.5vw;
    }

    &:last-child {
      margin-bottom: 2.5vw;
    }
  }
}

// Móvil y tablet horizontal
@media only screen and (min-device-width: 767.6px) {
  div {
    max-width: 30vw;
    padding: 1vw 2vw;
  }

  p {
    font-size: 1.5vw;
    margin: 0.5vw 0;

    &:first-child {
      margin-top: 2.5vw;
    }

    &:last-child {
      margin-bottom: 2.5vw;
    }
  }
}
