#divTecnologies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);

  h1 {
    font-size: 7vw;
    margin-bottom: 5vw;
  }
}

#tecnologies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;

  .imageCard {
    display: grid;
    place-items: center;
    height: 20vw;
  }

  img {
    max-width: 80px;
    width: 15vw;
    margin: 0;
  }
}

mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  box-shadow: none !important;
  color: var(--white);

  &:hover {
    transform: scale(1.2);
  }
}

mat-card-content {
  font-size: 3.5vw;
}
