#divTecnologies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);

  h1 {
    font-size: 7vw;
    margin-bottom: 5vw;
  }
}

#tecnologies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;

  .imageCard {
    display: grid;
    place-items: center;
    width: 15vw;
    height: 20vw;
  }

  img {
    max-width: 80px;
    width: 15vw;
    margin: 0;
  }
}

mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  box-shadow: none !important;
  color: var(--white);
}

mat-card-content {
  font-size: 4vw;
}
