#formContact {
  display: block;
  width: 60vw;
  max-width: none;
  padding: 1vw;
  border-radius: 1vw;
  color: var(--black);
  background-color: var(--white);

  h1 {
    text-align: center;
    font-size: 5vw;
    margin: 3vw auto;
  }

  #fields {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #first,
    #second {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      textarea {
        height: 15vw;
      }
    }
  }
}

mat-form-field {
  width: 50vw;
  margin-bottom: 2vw;
  font-size: 3.5vw;
}

.icon {
  display: flex;
  justify-content: center;
  align-content: center;
  span {
    font-size: 5vw;
    padding-left: 1vw;
  }
}

//Button submit
button {
  margin-bottom: 2vw;
  border-radius: 1vw;
  padding: 2vw 4vw;
  font-size: 4vw;
  transition: all 0.3s;

  &.validForm {
    color: var(--white);
    border: 1px solid var(--green);
    background-color: var(--green);
    cursor: pointer;

    &:hover {
      color: var(--black);
      border: 1px solid var(--yellow);
      background-color: var(--yellow);
      transition: all 0.3s;
    }
  }

  &.invalidForm {
    color: var(--white);
    border: 1px solid var(--grey);
    background-color: var(--grey);
  }
}

// Móvil y tablet vertical
@media screen and (min-width: 481px) and (max-width: 767.5px) {
  mat-form-field {
    margin-bottom: 0 !important;
    font-size: 3vw;
  }

  //Button submit
  button {
    margin-top: 4vw;
  }
}

// Móvil y tablet horizontal
@media screen and (min-width: 767.6px) {
  #formContact {
    display: block;
    width: 60vw;
    max-width: none;
    padding: 1vw;
    border-radius: 1vw;

    h1 {
      text-align: center;
      font-size: 3vw;
      margin: 1vw;
      margin-bottom: 3vw;
    }

    #fields {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 2vw;
      width: 100%;

      #first,
      #second {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        textarea {
          width: 100%;
          height: 8vw;
        }
      }
    }
  }

  mat-form-field {
    font-size: 1.2vw !important;
    margin-bottom: 1vw;
    width: 25vw;
  }

  .icon {
    span {
      font-size: 1.2em;
    }
  }

  //Button submit
  button {
    font-size: 1.5vw;
    padding: 1vw 2vw;
    border-radius: 0.5vw;
  }
}

// FORMAT MAT-INPUT COLOR

// Border color of input (normal)
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--grey) !important;
}

// Border color of input (focused)
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: var(--yellow) !important;
}

// Border color of input (correct)
::ng-deep
  .mat-form-field-appearance-outline.inputCorrect
  .mat-form-field-outline {
  color: var(--green) !important;
}

// Border color of input (error)
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: var(--red) !important;
  opacity: 0.8 !important;
}

// Color of caret (normal)
::ng-deep .mat-input-element {
  caret-color: var(--grey) !important;
}

// Color of caret (error)
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: var(--red) !important;
}

// Color of label
::ng-deep .mat-form-field-label {
  color: var(--grey) !important;
}

// Color of label (focused)
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: var(--yellow) !important;
}

// Color of label (correct)
::ng-deep
  .mat-form-field-appearance-outline.inputCorrect
  .mat-form-field-label {
  color: var(--green) !important;
}

// Color of label (error)
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red !important;
}

// Color of SnackBar
::ng-deep .snackbarclass {
  background: var(--yellow);
  color: var(--black);
}

// Color of SnackBar's button
::ng-deep .mat-button-wrapper {
  font-size: 3.5vw;
  color: var(--black);
}

// Size of SnackBar's text
::ng-deep .mat-simple-snack-bar-content {
  font-size: 4vw !important;
}

@media screen and (min-width: 475px) and (max-width: 535.5px) {
  // Color of SnackBar's button
  ::ng-deep .mat-button-wrapper {
    font-size: 2.5vw;
    color: var(--black);
  }

  // Size of SnackBar's text
  ::ng-deep .mat-simple-snack-bar-content {
    font-size: 3vw !important;
  }
}

@media screen and (min-width: 535.6px) and (max-width: 647.5px) {
  // Color of SnackBar's button
  ::ng-deep .mat-button-wrapper {
    font-size: 2vw;
    color: var(--black);
  }

  // Size of SnackBar's text
  ::ng-deep .mat-simple-snack-bar-content {
    font-size: 2.5vw !important;
  }
}

@media screen and (min-width: 647.6px) and (max-width: 706.5px) {
  // Color of SnackBar's button
  ::ng-deep .mat-button-wrapper {
    font-size: 1.75vw;
    color: var(--black);
  }

  // Size of SnackBar's text
  ::ng-deep .mat-simple-snack-bar-content {
    font-size: 2.25vw !important;
  }
}

@media screen and (min-width: 706.6px) and (max-width: 816.5px) {
  // Color of SnackBar's button
  ::ng-deep .mat-button-wrapper {
    font-size: 1.5vw;
    color: var(--black);
  }

  // Size of SnackBar's text
  ::ng-deep .mat-simple-snack-bar-content {
    font-size: 2vw !important;
  }
}

@media screen and (min-width: 816.6px) and (max-width: 940.5px) {
  // Color of SnackBar's button
  ::ng-deep .mat-button-wrapper {
    font-size: 1.25vw;
    color: var(--black);
  }

  // Size of SnackBar's text
  ::ng-deep .mat-simple-snack-bar-content {
    font-size: 1.75vw !important;
  }
}

@media screen and (min-width: 940.6px) and (max-width: 1023.5px) {
  // Color of SnackBar's button
  ::ng-deep .mat-button-wrapper {
    font-size: 1.25vw;
    color: var(--black);
  }

  // Size of SnackBar's text
  ::ng-deep .mat-simple-snack-bar-content {
    font-size: 1.5vw !important;
  }
}

@media screen and (min-width: 1023.6px) {
  // Color of SnackBar's button
  ::ng-deep .mat-button-wrapper {
    font-size: 1vw;
    color: var(--black);
  }

  // Size of SnackBar's text
  ::ng-deep .mat-simple-snack-bar-content {
    font-size: 1.25vw !important;
  }
}
