<form [formGroup]="registroForm" id="formContact">
  <h1>Contáctame</h1>

  <!-- Name -->
  <mat-form-field appearance="outline" id="nameForm" (change)="mostrar()">
    <mat-label>Nombre</mat-label>
    <input
      name="name"
      matInput
      placeholder="Escriba su nombre"
      required
      formControlName="name"
      [class]="
        registroForm.controls['name'].hasError('required') ? 'error' : ''
      "
    />
    <mat-error
      *ngIf="
        registroForm.controls['name'].invalid &&
        (registroForm.controls['name'].dirty ||
          registroForm.controls['name'].touched)
      "
    >
      <span *ngIf="registroForm.controls['name'].hasError('required')">
        Debes poner un nombre
      </span>
    </mat-error>
  </mat-form-field>

  <!-- Surname -->
  <mat-form-field appearance="outline">
    <mat-label>Apellidos</mat-label>
    <input matInput />
  </mat-form-field>

  <!-- Email -->
  <mat-form-field appearance="outline">
    <mat-label>Correo electrónico</mat-label>
    <div class="icon">
      <input
        name="email"
        matInput
        placeholder="user@example.com"
        required
        formControlName="email"
      />
      <span class="material-icons"> mail </span>
    </div>
    <mat-error
      *ngIf="
        registroForm.controls['email'].invalid &&
        (registroForm.controls['email'].dirty ||
          registroForm.controls['email'].touched)
      "
    >
      <span *ngIf="registroForm.controls['email'].hasError('required')">
        Debes poner un correo electrónico
      </span>
      <span *ngIf="registroForm.controls['email'].hasError('email')">
        Introduce un correo válido
      </span>
    </mat-error>
  </mat-form-field>

  <!-- Phone -->
  <mat-form-field appearance="outline">
    <mat-label>Teléfono</mat-label>
    <div class="icon">
      <input
        name="phone"
        type="number"
        matInput
        required
        formControlName="phone"
      />
      <span class="material-icons"> phone </span>
    </div>
    <mat-error
      *ngIf="
        registroForm.controls['phone'].invalid &&
        (registroForm.controls['phone'].dirty ||
          registroForm.controls['phone'].touched)
      "
    >
      <span *ngIf="registroForm.controls['phone'].hasError('required')">
        Debes poner un número de teléfono
      </span>
    </mat-error>
  </mat-form-field>

  <!-- Message -->
  <mat-form-field appearance="outline">
    <mat-label>Mensaje</mat-label>
    <textarea
      name="message"
      matInput
      #input
      required
      formControlName="message"
      maxlength="500"
    >
    </textarea>
    <mat-hint align="end">{{ input.value.length }}/500</mat-hint>
    <mat-error
      *ngIf="
        registroForm.controls['message'].invalid &&
        (registroForm.controls['message'].dirty ||
          registroForm.controls['message'].touched)
      "
    >
      <span *ngIf="registroForm.controls['message'].hasError('required')">
        Debes poner un mensaje
      </span>
      <span *ngIf="registroForm.controls['message'].hasError('maxlength')">
        Lo siento, el máximo es de 500 caracteres.
      </span>
    </mat-error>
  </mat-form-field>
</form>
