#formContact {
  width: 70vw;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vw;
  border-radius: 2vw;
  color: var(--black);
  background-color: var(--white);

  h1 {
    font-size: 7vw;
    margin: 2vw;
    margin-bottom: 7vw;
  }
}

mat-form-field {
  font-size: 4vw !important;
  width: 80%;
  margin-bottom: 2vw;
}

.icon {
  display: flex;
  justify-content: center;
  align-content: center;
  span {
    font-size: 5vw;
  }
}

//Button submit
button {
  margin-bottom: 2vw;

  &.validForm {
    background-color: var(--green);
    color: var(--white);
    padding: 2vw 4vw;
    font-size: 4vw;
    border-radius: 2vw;
    border: 1px solid var(--green);
    cursor: pointer;

    &:hover{
      background-color: var(--yellow);
      border: 1px solid var(--yellow);
      color: var(--black);
    }
  }

  &.invalidForm {
    background-color: var(--grey);
    color: var(--white);
    padding: 2vw 4vw;
    font-size: 4vw;
    border-radius: 2vw;
    border: 1px solid var(--grey);
  }
}

// FORMAT MAT-INPUT COLOR

// Border color of input (normal)
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--yellow) !important;
}

// Border color of input (focused)
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: var(--grey) !important;
}

// Border color of input (correct)
::ng-deep
  .mat-form-field-appearance-outline.inputCorrect
  .mat-form-field-outline {
  color: var(--green) !important;
}

// Border color of input (error)
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: var(--red) !important;
  opacity: 0.8 !important;
}

// Color of caret (normal)
::ng-deep .mat-input-element {
  caret-color: var(--grey) !important;
}

// Color of caret (error)
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: var(--red) !important;
}

// Color of label
::ng-deep .mat-form-field-label {
  color: var(--grey) !important;
}

// Color of label (focused)
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: var(--grey) !important;
}

// Border color of input (correct)
::ng-deep
  .mat-form-field-appearance-outline.inputCorrect
  .mat-form-field-label {
  color: var(--green) !important;
}

// Color of label (error)
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red !important;
}


// Web
@media only screen and (min-device-width: 500px) {
  #formContact {
    display: block;
    width: 60vw;
    max-width: none;
    padding: 1vw;
    border-radius: 1vw;
  
    h1 {
      text-align: center;
      font-size: 3vw;
      margin: 1vw;
      margin-bottom: 3vw;
    }

    #fields{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 2vw;
      width: 100%;

      #first,
      #second{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        textarea{
          width: 100%;
          height: 8vw;
        }
      }
    }
  }
  
  mat-form-field {
    font-size: 1.2vw !important;
    margin-bottom: 1vw;
  }
  
  .icon {
    span {
      font-size: 1.2em;
    }
  }
  
  //Button submit
  button {
    &.validForm {
      padding: 1vw 2vw;
      font-size: 1.5vw;
      border-radius: 0.5vw;
    }
  
    &.invalidForm {
      padding: 1vw 2vw;
      font-size: 1.5vw;
      border-radius: 0.5vw;
    }
  }
  



}

