div {
  width: fit-content;
  img {
    width: 10vw;
    margin-bottom: 0;
  }
  p {
    color: var(--white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    text-align: center;
    margin-top: 0;
  }
}
