<div>
  <h1>Juan Bohigues</h1>
  <img
    src="assets/images/backFaceAbout.webp"
    alt="Mi cara"
    title="Este soy yo"
  />
  <h2>Front-end Developer</h2>
  <p>
    Apasionado por la programación y el diseño web. Capacitado para realizar
    Back-end.
  </p>
  <p>Persona activa, responsable y comprometida 100% con su trabajo.</p>
  <p>Me desenvuelvo muy bien tanto en equipo como individualmente.</p>
  <p>+34 637 33 21 94</p>
  <p>46400 Cullera (Valencia)</p>
  <p>jbohigues.depweb@gmail.com</p>
</div>
