<div id="divProjects">
  <h1>Proyectos</h1>

  <div id="projects">
    <mat-card *ngFor="let project of projects">
      <mat-card-header>
        <mat-card-title>{{ project.title }}</mat-card-title>
        <mat-card-subtitle>{{ project.category }}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/images/projects/{{ project.folder }}/{{ project.img }}.webp"
        alt="{{ project.title }}"
        class="projectImage"
      />
      <mat-card-content>
        <div>
          <p>
            {{ project.description }}
          </p>
          <p class="caller">
            {{ project.caller }}
          </p>
        </div>
        <div>
          <hr />
          <p class="tags">
            <img
              mat-card-image
              *ngFor="let habilitie of project.tags"
              src="assets/images/habilities/{{ habilitie.img }}.svg"
              alt="{{ habilitie.title }}"
            />
          </p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <a [href]="project.hrefs.github" target="_blank">GitHub</a>
        <a [href]="project.hrefs.github" target="_blank">Proyecto</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
